* {
	margin: 0;
	padding: 0;
}

body {
	background: url('https://cdn.pixabay.com/photo/2016/02/22/13/39/paper-1215551_960_720.jpg');
	color: white;
	font-family: 'Comfortaa', 'sans-serif';
	letter-spacing: 1px;
	word-spacing: 2px;
}

a {
	text-decoration: none;
	color: black;
}

.wrapper {
	width: 70%;
	height: 70vh;
	margin: auto;
	margin-top: 80px;
	border-radius: 10px;
}

.row {
  display: grid;
  position: relative;
  grid-gap: 5px;
  height: 100%;
  border-radius: 10px;
}

.row > div {
  border: 2px solid grey;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
}

.col-4 {
  grid-column: 1 / span 1;
  background: url('https://i.gifer.com/J4o.gif');
}

.col-8 {
  grid-column: 2 / span 5;
  background-color:rgba(0,0,0,0.8);
  text-align: center;
}

.box-photo {
	position: relative;
	margin: 50px 50px 0px 50px;
}

.box-photo img {
	border-radius: 50%;
	border: 2px solid white;
}

.nav {
	padding: 10px;
	margin: 30px;
	border: 2px solid white;
	border-radius: 10px;
}

.nav-list {
	list-style: none;
	padding:  10px;
}

.nav-link {
	background: white;
	padding: 5px 10px 5px 10px;
	border-radius: 20px;
	border: 1px solid grey;
}

.nav-list a {
	color: black;
	font-weight: bold;
}

.nav .nav-list a:hover {
	background: rgba(0,0,0,0.8);
	color: white;
}

.content {
	padding: 100px;
}

.content a{
	color: white;
}

.content a:hover {
	color: red;
}

table {
	line-height: 1.5em;
}